@model Booking_App.Models.Company_Hour

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Opening Times</h2>

<div class="form_names">
    <h4>Are you sure you want to delete these opening times?</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Yes" class="btn btn-success btn-lg" /> |
    @Html.ActionLink("No", "Details", "Companies", new { id = Model.CompanyID }, new { @class = "btn btn-danger btn-lg" })
</div>
    }
</div>
