@model Booking_App.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.party_name,"Booking Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.party_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NumPeople,"Number of People")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumPeople)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FName,"First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.LName,"Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email,"Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Phone,"Phone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
