@model IEnumerable<Booking_App.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            Booking
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            People
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td >
               @Html.DisplayFor(modelItem => item.party_name)
               <a onmousedown="onNameMouseOver(@item.ID)" href="#" class="btn btn-primary btn-xs">Info &raquo;</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPeople)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script type="text/javascript">
        function onNameMouseOver(id) {
            $.ajax({
                url: "/api/BookingsAPI",
                data: {
                    id: id
                },
                dataType: "text",
                success: function (result) {
                    var details = JSON.parse(result);


                    var bookingDetails = "Booking Details: \n\n" + "Name: " + details.FName + " " + details.LName + "\nEmail: " + details.Email + "\nPhone: " + details.Phone;

                    alert(bookingDetails);
                }
            })
        }
    </script>
}