@model IEnumerable<BookingApp.Models.Company>

@{
    ViewBag.Title = "Bookings";
    ViewBag.Message = "Choose a compnay to view their calendar and make a booking.";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyAddress)
            </td>
            <td>
                @Html.ActionLink("Calendar", "Index", "Event") 
            </td>
        </tr>
    }

</table>
